@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-navy-950: hsl(226, 43%, 10%);
    --color-navy-900: hsl(235, 46%, 20%);
    --color-navy-800: hsl(235, 41%, 34%);
    --color-navy-200: hsl(236, 100%, 87%);

    --color-orange-300: hsl(15, 100%, 70%);

    --color-purple-700: hsl(264, 64%, 52%);
    --color-purple-600: hsl(246, 80%, 60%);
    --color-purple-500: hsl(235, 45%, 61%);

    --color-blue-300: hsl(195, 74%, 62%);

    --color-pink-400: hsl(348, 100%, 68%);

    --color-green-400: hsl(145, 58%, 55%);

    --color-yellow-300: hsl(43, 84%, 65%);

    --color-grey-200: hsl(0, 0%, 85%);

    --spacing-0: 0px;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-navy-950);
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0;
}

.dashboard {
    padding: 24px;
    display: grid;
    grid-template-areas:
    "user-section"
    "work"
    "play"
    "study"
    "exercise"
    "social"
    "self-care";
    gap: var(--spacing-300);
}

.user-section {
    grid-area: user-section;
    background-color: var(--color-navy-900);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.user-profile {
    padding: var(--spacing-400);
    background-color: var(--color-purple-600);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-300);
    border-radius: 15px;
}

.user-profile__image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.user-profile__label {
    color: var(--color-navy-200);
    font-size: 15px;
    font-weight: var(--font-weight-light);
    line-height: 18px;
}

.user-profile__name {
    color: var(--color-white);
    font-size: 24px;
    font-weight: var(--font-weight-light);
    line-height: 28px;
}

.user-profile__info {
    display: flex;
    gap: var(--spacing-100);
    flex-direction: column;
}

.timeframe-selector {
    display: flex;
    width: 100%;
    color: var(--color-purple-500);
    padding-top: var(--spacing-300);
    padding-bottom: var(--spacing-300);
}

.timeframe-selector__option {
    flex: 1;
    text-align: center;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
}

.timeframe-selector__option--selected {
    color: var(--color-white);
}

.activity-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.activity-card--work {
    grid-area: work;
    background-color: var(--color-orange-300);
}

.activity-card--play {
    grid-area: play;
    background-color: var(--color-blue-300);
}

.activity-card--study {
    grid-area: study;
    background-color: var(--color-pink-400);
}

.activity-card--exercise {
    grid-area: exercise;
    background-color: var(--color-green-400);
}

.activity-card--social {
    grid-area: social;
    background-color: var(--color-purple-700);
}

.activity-card--self-care {
    grid-area: self-care;
    background-color: var(--color-yellow-300);
}


.activity-card::after {
    content: '';
    position: absolute;
    width: 78px;
    height: 78px;
    top: -10px;
    right: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.activity-card--work::after {
    background-image: url('./images/icon-work.svg');
}

.activity-card--play::after {
    background-image: url('./images/icon-play.svg');
}

.activity-card--study::after {
    background-image: url('./images/icon-study.svg');
}

.activity-card--exercise::after {
    background-image: url('./images/icon-exercise.svg');
}

.activity-card--social::after {
    background-image: url('./images/icon-social.svg');
}

.activity-card--self-care::after {
    background-image: url('./images/icon-self-care.svg');
}

.activity-card__content {
    margin-top: var(--spacing-500);
    padding: var(--spacing-300);
    background-color: var(--color-navy-900);
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.activity-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-card__title {
    color: var(--color-white);
    font-size: 18px;
    font-weight: var(--font-weight-medium);
    line-height: 21px;
}

.activity-card__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-card__current-stats {
    color: var(--color-white);
    font-size: 32px;
    font-weight: var(--font-weight-light);
    line-height: 38px;
}

.activity-card__previous-stats {
    color: var(--color-navy-200);
    font-size: 15px;
    font-weight: var(--font-weight-regular);
    line-height: 18px;
}

.activity-card__menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: var(--spacing-100) 0;
}

.activity-card__menu-button-image {
    display: block;
    width: 21px;
    height: 5px;
}

@media (min-width: 768px) {
    .dashboard {
        grid-template-areas:
        "user-section user-section user-section"
        "work play study"
        "exercise social self-care";
        max-width: 612px;
        margin: 0 auto;
    }

    .user-profile {
        width: 100%;
        justify-content: normal;
    }

    .activity-card__stats {
        flex-direction: column;
        align-items: normal;
    }

    .activity-card__current-stats {
        font-size: 56px;
        line-height: 66px;
    }
}

@media (min-width: 1440px) {
    .dashboard {
        grid-template-areas:
        "user-section work play study"
        "user-section exercise social self-care";
        grid-template-columns: repeat(4, 1fr);
        max-width: none;
    }

    .timeframe-selector {
        flex-direction: column;
    }

    .user-section {
        justify-content: normal;
    }

    .user-profile {
        flex-direction: column;
        align-items: normal;
    }
}